$ff-urbanist: "Urbanist", sans-serif;

$fs-1: 4.8rem;
$fs-2: 4rem;
$fs-3: 3.4rem;
$fs-4: 2.4rem;
$fs-5: 2rem;
$fs-6: 1.8rem;
$fs-7: 1.5rem;
$fs-8: 1.4rem;
$fs-9: 1.3rem;

$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;
